/*pc/layout.css.scss*/
body {
  background: url(image_path("")) left top;
}

.header_title {
  background: url(image_path("")) left top;
}

#login_content {
  background: url(image_path("okuma.jpg")) left top;
}

div.pagination a.previous_page {
  background: transparent url(image_path("")) 0 0 no-repeat;

}
div.pagination a.next_page {
}

