body {
  background: url(image_path("")) left top;
}

.header_title {
  background: url(image_path("")) left top;
}

#login_content {
  background: url(image_path("okuma.jpg")) left top;
}


