<div id="content">

<h1>利用規約</h1>


<b>第1条　　はじめに</b>
<p>この利用規約（以下「本規約」といいます）は、Rabbit Network（以下「運営」といいます）が本サイト上で提供するサービス（以下「サービス」といいます）を、
ユーザーが利用する際の一切の行為に適用されます。
本規約は,サービスの利用条件を定めるものであり,ユーザーは,本規約に従いサービスを利用するものとします。
ユーザーは,サービスを利用することにより,本規約の全ての記載内容について同意したものとみなされます。
</p>

<b>第2条　　定義</b>
<p>本利用規約において使用する用語の意義は、次の各号に定めるとおりとします。
本サイト　  Rabbit Networkが運営する「Course View」と称するウェブサイトをいいます。
サービス　     本サイト上で提供される全てのサービスをいいます。
ユーザー　     本サイトを利用する者をいいます。
会員　         本サイトを利用するために会員登録している者をいいます。
アカウントID　本サービスを利用する者のために発行される半角英数字の文字列をいいます。
登録メールアドレス　サービスの提供を受ける目的で,ユーザーが運営に提供したメールアドレスの情報をいいます。
パスワード　本サービスを利用するに当たって、登録メールアドレス又はアカウントIDと照合して本人を識別するための文字列をいいます。
</p>

<b>第3条　　本規約の範囲</b>
<p>本サイトには、本規約及びその他の利用規約等において、サービスの利用条件が規定されています。
その他の利用規約等は名称の如何に関わらず本規約の一部を構成するものとします。
本規約の規定とその他の利用規約等の規定が異なる場合は、当該その他の利用規約等の規定が優先して適用されるものとします。
</p>

<b>第4条　　本規約の変更</b>
<p>運営は,運営の判断により,本規約をいつでも任意の理由で変更することができるものとします。
変更後の利用規約は,運営が別途定める場合を除いて,本サイト上に表示した時点より効力を生じるものとします。
ユーザーが,本利用規約の変更の効力が生じた後に本サービスをご利用になる場合には,変更後の利用規約の全ての記載内容に同意したものとみなされます。
</p>

<b>第5条　　個人情報の取扱い</b>
<p>運営は,個人情報を「プライバシーポリシー」に基づき,適切に取り扱うものとします。</p>

<b>第6条　　登録の拒否</b>
<p>以下の行為が発覚した場合サービスの強制的に停止することがあります。
ユーザー登録内容に虚偽の申請があった場合．
ユーザー登録後に内容変更が生じた際にユーザー自身が登録変更を行わなかった場合。
ユーザーが本規約の禁止事項をはじめとする何かしらの項目に違反した場合。
複数アカウントの取得や,おすすめコンテンツの操作等の不当な利用目的でのアカウント取得。
その他、運営が不適切だと判断した場合。
</p>

<b>第7条　　禁止事項</b>
<p>運営もしくは他者の著作権、商標権等の知的財産権を侵害する行為、又は侵害するおそれのある行為。
運営もしくは他者の財産、プライバシーもしくは肖像権を侵害する行為、又は侵害するおそれのある行為。
運営もしくは他者を不当に差別もしくは誹謗中傷し、他者への不当な差別を助長し、又はその名誉もしくは信用を毀損する行為。
サーバーに負荷をかける行為、運営が問題だと感じた行為。
</p>

<b>第８条　　運営の財産権</b>
<p>この権利は本サイト上にユーザーによって投稿されたコンテンツを除く公開された全てのコンテンツに対して発生します。</p>

<b>第9条　　サイト上に投稿されたコンテンツの権利</b>
<p>本サイトに投稿されたコンテンツの権利は全て投稿者本人に帰属します
本サイトに投稿されたコンテンツを投稿者の断りなく転載する行為は禁止します.
全てのコンテンツは運営がサイト紹介等のために（商用,非商用問わず）利用することを可能とする．
</p>

<b>第10条　　免責事項</b>
<p>本サービスの利用はユーザーの責任において行う
本サイト上で発生したトラブルに関して運営は一切の責任をおわないものとする.
</p>

<b>第11条　　準拠法</b>
<p>本利用規約の準拠法は、日本法とします。</p>

<b>附則</b>
<p>本規約は2013年4月1日から施行します。</p>

</div>
