
<div id="member_password_edit">

<%= form_for [:admin, @member] do |form| %>
<%= render "form", form: form%>
<div id="member_new_button">
<p><%= form.submit "Joinï¼", :id => "button_member_new", :disabled => "true" %></p>
</div>
<% end %>
</div>
