<div id="content">

<h1>プライバシーポリシー</h1>


<b>基本的考え方</b>
<p>Course viewでは、Course Viewの提供するサービスの円滑な運営に必要な範囲で当サイトを利用される皆様の情報を収集しています。
収集した個人情報は利用目的の範囲内で適切に取り扱います。</p>

<b>収集する個人情報の範囲</b>
<p>当サイトのユーザー登録が必要な利用にあたっては、メールアドレスはID、パスワードの登録をお願いしています。また、任意にいくつかの情報の登録をお願いしています。</p>

<b>個人情報の利用目的</b>
<p>収集した情報は、当サイトへのアクセスのために使用します。</p>

<b>利用及び提供の制限</b>
<p>当サイトでは、法令に基づく開示要請があった場合、不正アクセス、脅迫等の違法行為があった場合その他特別の理由のある場合を除き、
収集した個人情報を上記の個人情報の利用目的以外の目的のために自ら利用し、又は第三者に提供いたしません。
ただし、統計的に処理された当サイトのアクセス情報、利用者属性等の情報については公表することがあります。この情報は個人を特定出来るものではありません。</p>

<b>安全確保の措置</b>
<p>当サイトは収集した情報の漏洩、滅失又は毀損の防止その他収集した情報の適切な管理のために必要な措置を講じます。</p>

<b>適用範囲</b>
<p>本プライバシーポリシーは、当サイトにおいてのみ適用されます。</p>

</div>
