<h2 class="easy_login_form">簡易検索</h2>
<table id="easy_login_form">
<tr>
<td align="right">講義名:</td>
<td><input type="text" size="20" style="width: 120px" placeholder="例:)基礎の数学" /></td>
</tr>
<tr>
<td align="right">担当教員:</td>
<td><input type="text" size="20" style="width: 120px" placeholder="例:)田中太郎" /></td>
</tr>
<tr>
<td colspan="2" align="center">
<input type="submit" value="検索" /></td>
</tr>
</table>
