<% @page_title = "新規講義作成" %>

<div id="new_course">
<h1>講義追加</h1>

<%= form_for [:admin, @course_info] do |form| %>
<%= render "form", form: form %>
<div id="course_new_button">
<p><%= form.submit "Add！" %></p>
</div>
<% end %>
</div>