<%= form_for Member.new, url: [ :start_resetting, :password ], method: :post do |form| %>
<div class="forgot_password">
<div id="password_resetter">
<h1 id="title">パスワードの再発行</h1>
<div id="password_restter_email">
<p class="password_restter_label">メールアドレス</p>
<p><%= form.text_field :email, :class => "password_restter_input",:placeholder => "ex) taro@fuji.waseda.jp" %></p>
</div>

<div id="password_restterr_email_confirmation">
<p class="password_restter_label">メールアドレス確認</p>
<p><%= form.text_field :email_confirmation, :class => "password_restter_input" %></p>
</div>
   <%= form.submit "送信！", :id => "password_restter_button" %>
</div>
<% end %>
</div>