<div id="account_setting">
  <p style="border-right: 1px solid silver; padding-right: 5px;"><%= link_to "パスワードの変更", :edit_account %></p>
  <p style="border-right: 1px solid silver; padding-right: 5px;"><%= link_to "ログアウト", :session, method: :delete, confirm: "ログアウトしますか？" %></p>
  <p><%= link_to "退会", :withdrawal_account %></p>
</div>