    <div id="timeline">
    <div id="comment_log_index">
    <% if request.smart_phone? %>
      <p class="timeline_label" style="background-color: #f39d4a; margin-left: -30px; width: 86%">コメントへの返信</p>
    <% else %>
      <p class="timeline_label" style="background-color: #f39d4a; width: 86%">コメントへの返信</p>
    <% end %>
    <% if @current_member.responses.exists? %>
    <% @current_member.responses.each do |response| %>
    <% @course_view = response.course_view %>
    <% @course_info = @course_view.course_info %>
    <p class="comment_log" style="margin-bottom: 2px; margin-left: 23px;"><%= link_to truncate(@course_view.view, :length => 15), @course_view %>に</p>
    <p class="comment_log" style="margin-bottom: 10px; margin-top: 0;">コメントしました。(<%= response.created_at.strftime("%Y/%m/%d") %>)</p>
    <% end %>
    <% else %>
      <p class="none_comment_log">まだ返信がありません。</p>
    <% end %>
    </div>
    <div id="like_log_index">
    <p class="timeline_label" style="background-color: #009fc4; width: 86%">Good</p>
    <% if @current_member.likes.exists? %>
      <% @current_member.likes.each do |like| %>
        <% @course_info = CourseInfo.find(like.course_info_id) %>
        <p class="like_log" style="margin-bottom: 2px; margin-left: 23px;"><%= link_to @course_info.title, @course_info %>に</p>
        <p class="like_log" style="margin-bottom: 10px; margin-top: 0;">goodしました。(<%= like.created_at.strftime("%Y/%m/%d") %>)</p>
      <% end %>
    <% else %>
        <% if request.smart_phone? %>
      <p class="none_like_log" style="margin-left: 27px;">まだgoodがありません。</p>
      <% else %>
      <p class="none_like_log">まだgoodがありません。</p>
      <% end %>
    <% end %>
    </div>
    </div>